.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-height: 90svh;
  min-width: 300px;
  overflow: hidden;
  background-color: #fbfbfd;
}

.navbar {
  padding: 20px 0 15px 0;
  width: 100%;
  border-bottom: solid 1px #e7e7e7;
  background-color: white;
}

.fixedWidth {
  padding: 0 5vw;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 32px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  margin-left: -5px;
}

.advisorCard {
  width: 100%;
  max-width: 900px;
  margin: 4vw auto;
  border-radius: 4px;
  background-color: white;
  padding: 50px;
}

.actionButtons {
  align-self: baseline;
  display: flex;
  align-items: center;
  gap: 24px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.profileImage {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  overflow: hidden;
}

.headerSection {
  display: flex;
  align-items: baseline;
  gap: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdcdc;
}

.infoSection {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.metaDetail {
  display: flex;
  gap: 5px;
  align-items: baseline;
  font-size: 14px;
  color: #5f5f5f;
  position: relative;
  padding-left: 18px;
}

.notificationMessage {
  font-size: 14px;
  color: grey;
}

.metaDetailIcon {
  position: absolute;
  left: 0px;
  top: 0px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
}

.infoRow p {
  font-size: 17px;
  font-weight: 500;
  color: #3f3e3a;
}

.infoRow a {
  color: #849cff;
}

.infoRow span {
  font-size: 16px;
  font-weight: 400;
  color: #5f5f5f;
}

.pictureUpload {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
/* Footer */
.modalFooter {
  display: flex;
  justify-content: end;
  padding: 16px 24px;
  border-top: 1px solid #ddd;
  gap: 10px;
}

.modalBody {
  padding: 28px min(7vw, 35px);
}

.formContainer {
  display: grid;
  gap: 16px;
}

/* Responsive layout: 1 or 2 columns */
@media (min-width: 565px) {
  .formContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 565px) {
  .formContainer {
    grid-template-columns: 1fr;
  }
  .pictureUpload {
    flex-direction: column;
  }
  .topSection {
    flex-direction: column;
    gap: 20px;
  }
  .actionButtons {
    align-self: center;
  }
}
